
* {
    box-sizing: border-box;
}
.row2, .row3, .row4 .row5{
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
}
.row2::after {
    content: "";
    clear: both;
    display: table;
}
.col-sm-2{
    width: 33.33%;
    float: left;
}
.row3::after {
    content: "";
    clear: both;
    display: table;
}
.col-3{
    width: 100%;
    text-align: center;
    margin: 15px;
    float: left; 
}
.row4::after {
    content: "";
    clear: both;
    display: table;
}
.col-sm-4, .col-sm-5{
    width: 50%;
    float: left;    
}
.col-sm-6{
    width: 100%;
}
@media screen and (max-width: 640px) and (min-width: 360px) and (orientation: portrait) {
    .col-4, .col-5 {
        height: 25%;
        margin: 0%;
    }
    .boxx iframe{
          width: 100%;
          height: 25%;  
    }
    .boxx form input{
        width: 100%;
        height: 25%;
    }
    .col-sm-2{
        width: 100%;
        float: none; 
    }
    .col-sm-2 .box {
        height: unset;
        width: unset;
    }
    .box4 img{
    height: 50%;
    }
    p{
        height: 100%;
        width: 100%;
    }
    .col-3{
        height: 25%;
    }
    .col-3 p{
        height: 50%;
    }
    .box{
        height: 50%;
        width:25%;
    }
    .last h1{
        height:50%;
    }
    .col-sm-4 .boxx{
    height: 50%;
    width: 100%;
    margin: 0%;
    }
    .col-sm-5 .boxx{
    height: 50%;
    width: 100%;
    margin: 0%;
    } 
}
